<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://instagram.com/_arnab.jk_008"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://linkedin.com/in/arnabjk008"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy; Arnabjk @Luyit</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>

</footer>